<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart" parallel="tests">
	<test name="OrderCreation">
		<classes>
			<class name="Automation.Selenium.Flipkart" />
		</classes>
	</test>

	<test name="DempTest">
		<classes>
			<class name="Automation.Selenium.Demo" />
		</classes>
	</test> <!-- OrderCreation -->
</suite> <!-- Flipkart -->
